*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

header{

padding:20px 10%;
position:fixed;
width:100%;
background:#111827;
z-index:100;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

}

nav ul{

display:flex;
list-style:none;
gap:30px;

}

nav a{

color:white;
text-decoration:none;

}

.logo{

font-size:25px;
font-weight:bold;
color:cyan;

}

.hero{

height:100vh;
display:flex;
justify-content:space-around;
align-items:center;
padding:100px;

}

.hero h1{

font-size:60px;

}

.hero h2{

color:cyan;
margin:20px 0;

}

.right img{

width:350px;
border-radius:50%;
box-shadow:0 0 40px cyan;

}

.buttons{

margin-top:20px;

}

.btn{

padding:12px 25px;
background:cyan;
text-decoration:none;
color:black;
border-radius:30px;

}

.btn2{

padding:15px;
background:#1e293b;
border-radius:50%;
color:white;
margin-left:10px;

}

section{

padding:100px;

}

.glass{

padding:40px;

background:rgba(255,255,255,.1);

backdrop-filter:blur(10px);

border-radius:20px;

}

.skills{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(150px,1fr));

gap:20px;

}

.card,.project{

background:#1e293b;

padding:25px;

border-radius:20px;

transition:.5s;

}

.card:hover,.project:hover{

transform:translateY(-10px);

box-shadow:0 0 20px cyan;

}

.projects{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:20px;

}